{
  email {$ACME_EMAIL}
}

www.{$TLS_DOMAIN} {
  redir https://{$TLS_DOMAIN}{uri} permanent
}

{$TLS_DOMAIN} {
  encode gzip zstd

  handle /allure-report* {
    redir https://pyavchik.github.io/slotsone-playwright/ permanent
  }

  handle /admin* {
    reverse_proxy admin:3002
  }

  handle {
    reverse_proxy frontend:80
  }
}
