{
  email {$ACME_EMAIL}
}

jenkins.pyavchik.space {
  reverse_proxy http://70.34.251.44:8080
}

{$TLS_DOMAIN} {
  encode gzip zstd

  handle /allure-report* {
    uri strip_prefix /allure-report
    reverse_proxy allure-report:80
  }

  handle /admin* {
    reverse_proxy admin:3002
  }

  handle {
    reverse_proxy frontend:80
  }
}
